<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sb.springbooterror.mapper.UserMapper">

    <select id="getuserlist" resultType="com.sb.springbooterror.dto.User">
        SELECT * FROM o_user 
    </select>
</mapper>